@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-16%);
    }
    40% {
        transform: translateY(-32%);
    }
    60% {
        transform: translateY(-48%);
    }
    80% {
        transform: translateY(-64%);
    }
    100% {
        transform: translateY(-82%);
    }
}

body {
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.jpg') no-repeat 0 0 / 100vw 100vh; */
    background-color: #FAF1BE;
    color: #000;
    overflow-x: hidden;
    font-family: "NEXON Lv1 Gothic OTF";
}

#main_contents{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#main_contents .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.main_title {
    font-family: "GmarketSansBold";
    font-size: 50px;
    padding-bottom: 15px;
}

.sub_title {
    font-size: 20px;
    font-weight: bold;
    color: #7F47DD;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.intro_title h1 {
    font-size: 30px;
}

.type {
    font-size: 25px;
    line-height: 3em;
    height: 3em;
    overflow: hidden;
}

.type_list {
    animation: rotate 7s infinite;
    animation-duration: reverse;
}

.explain {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    padding-bottom: 50px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.buttons button{
    font-family: "NEXON Lv1 Gothic OTF";
    font-size: 20px;
    width: 300px;
    height: 50px;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttons button:hover{
    text-decoration: underline;
}

.start {
    background-color: #fff;
    color: #7F47DD;
    margin-bottom: 20px;
}

.lecture {
    background-color: #7F47DD;
    color: #fff;
}

.result_data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_data .data_wrap {
    margin-bottom: 50px;
    width: 270px;
    padding: 15px 15px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    line-height: 1.5;
}

.result_data .total_participants {
    padding: 20px 0 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.result_data li {
    padding-bottom: 20px;
    font-size: 15px;
}

.weniv {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.weniv a {
    width: 100px;
}

.weniv img{
    width: 100%;
    height: auto;
}

@media all and (min-width: 279px) and (max-width: 600px) {
    #main_contents{
        margin-top: 50px;
    }
    
    #main_contents .wrapper {
        max-width: 300px;
    }
    
    .title {
        padding-bottom: 50px;
    }

    .main_title {
        font-size: 35px;
    }
    
    .sub_title {
        font-size: 15px;
    }

    .intro {
        padding-bottom: 30px;
    }
    
    .intro_title h1 {
        font-size: 20px;
    }
    
    .type {
        font-size: 17px;
    }
    
    .explain {
        font-size: 15px;
        padding-bottom: 50px;
    }
    
    .buttons {
        padding-bottom: 50px;
    }
    
    .buttons button{
        font-size: 15px;
        width: 200px;
        height: 40px;
    }

    .result_data .data_wrap {
        width: 170px;
    }

    .result_data .total_participants {
        font-size: 17px;
    }
    
    .result_data li {
        font-size: 15px;
    }

    .weniv a {
        width: 70px;
    }
}

@media all and (min-width: 1920px) and (max-width: 2560px) {
    #main_contents .wrapper {
        max-width: 700px;
    }
    
    .main_title {
        font-size: 70px;
        padding-bottom: 20px;
    }
    
    .sub_title {
        font-size: 30px;
    }
    
    .explain {
        line-height: 2;
        font-size: 20px;
    }

    .buttons button{
        font-size: 30px;
        width: 350px;
        height: 60px;
    }
    
    .result_data .data_wrap {
        width: 320px;
    }
    
    .result_data .total_participants {
        font-size: 30px;
    }
    
    .result_data li {
        font-size: 20px;
    }
    
    .weniv a {
        width: 150px;
    }
}